.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px; 
  flex: 1; 
}

.input-group label {
  font-size: 13px; 
  margin-bottom: 4px; 
  color: #111827;
  font-weight: 600;
}

.input-group input {
  padding: 12px 14px; 
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  transition: 0.2s;
  width: 100%;
  box-sizing: border-box;
}

.input-group input:focus {
  outline: none;
  border-color: #2563eb; 
  box-shadow: 0 0 4px rgba(37, 99, 235, 0.3);
}


.name-row .input-group {
  flex: 1; 
}
